:root {
  --bg-color: #222;
  --text-color: #fff;
  --primary-color: #960000;
}

h1 {
  font-size: 2.98em;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  font-size: 2.488em;
  font-weight: 400;
}

h3 {
  font-size: 1.728em;
  font-weight: 400;
  font-family: serif;
  font-style: italic;
}

section,
footer {
  padding: 4em 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  padding: 0 1em;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #22222285;
}

nav .container {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: var(--text-color);
}

nav ul {
  display: flex;
  gap: 2em;
}

nav ul a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}

nav ul a:hover {
  color: var(--primary-color);
}

.hero {
  height: 500px;
  background: url("../imgs/heroImg.png");
  background-size: cover;
}

.hero .container {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

h1 span {
  font-style: italic;
  font-family: serif;
}

.col:first-child {
  flex: 1;
}

.col:last-child {
  flex: 2;
}

.about p {
  line-height: 1.5;
}

.about p:first-child {
  margin-bottom: 1em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.projects a {
  color: var(--text-color);
  text-decoration: none;
}

.project {
  flex: 1;
  flex-basis: 40%;
  height: 300px;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.25);
  filter: grayscale(0);
  transition: 0.3s;
}

.project:hover {
  filter: grayscale(100);
}

.project:first-child {
  flex-basis: 100%;
  height: 300px;
  background: url("../imgs/omnistudy.png");
  background-size: cover;
}

.project:nth-child(2) {
  background: url("../imgs/PFE.png");
  background-size: cover;
}

.project:nth-child(3) {
  background: url("../imgs/NL.png");
  background-size: cover;
}

.project-header {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid var(--text-color);
}

.contact .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}

.contacts a:hover {
  color: var(--primary-color);
}

.contacts a:last-child {
  padding: 1em;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.contacts a:last-child:hover {
  background-color: var(--text-color);
  color: #000;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
  .about .container,
  .work .container {
    flex-direction: column;
  }

  .about h2,
  .work h2 {
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2.074em;
  }

  h2 {
    font-size: 1.728em;
  }

  h3 {
    font-size: 1.2em;
  }

  .project-header {
    width: 250px;
  }
}

@media (max-width: 475px) {
  .contact .container {
    flex-direction: column;
  }

  .contacts {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1em;
  }

  h2 {
    margin-bottom: 1em;
  }
}
